--extra-index-url https://download.pytorch.org/whl/cu126
torch
torchvision
torchaudio
ml_dtypes
glances
akshare
mini-racer
stock-indicators # Requires manual installation of .NET SDK
    # The following packages require special handling:
    # neuralprophet               # Needs installation from source
    # neuralforecast            # Install from carusyte's repo